############
# LLM - Configuration for LLM Model arguments and endpoints
############

APP_MAX_RETRIES=2
APP_MAX_TEMPERATURE=1
APP_DEFAULT_TEMPERATURE=1
APP_MAX_MEMORY=4

APP_SYSTEM_PROMPT=''
APP_SYSTEM_TAGS=요금문의,전출입, AS,납부방법문의,경감관리,명의변경,고지방법문의,안전점검,공급중단,검침관리,계량기,기타문의
APP_ALLOWED_MODELS=samchully-llama3.1-8b,gpt-4o

# OpenAI Configuration
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o
OPENAI_API_KEY=your-openai-api-key
OPENAI_EMBEDDING_MODEL=text-embedding-3-large

THANOSQL_API_TOKEN=your-thanosql-workspace-api-token
THANOSQL_ENGINE_URL=your-thanosql-workspace-engine-url

# Custom Text-to-SQL Model Endpoint
# Leave these empty to use the default OpenAI model specified above
# Examples (vLLM):
#   TEXT2SQL_MODEL=defog/llama-3-sqlcoder-8b
#   TEXT2SQL_API_KEY=my-custom-api-key
#   TEXT2SQL_BASE_URL=http://172.17.0.1:8896/v1
TEXT2SQL_MODEL=
TEXT2SQL_API_KEY=
TEXT2SQL_BASE_URL=

############
# Auth
############

# CORS Configuration
# Comma-separated list of allowed origins (e.g., 'http://localhost:8000,https://example.com')
# If no commas are present, all origins will be allowed
FASTAPI_CORS_ORIGINS=''

############
# Ngrok
############

NGROK_AUTHTOKEN=
NGROK_HTTP_PORT=4040

############
# Postgres
############
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

############
# Redis
############
REDIS_HOST=""
REDIS_PORT=""
REDIS_DECODE_RESPONSES=True